/* PORTFOLIO Main Page Styles Start */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Color Palette */ 
:root {
    --primary-color: #efb7ca;
    --secondary-color: #8e1f1f;
    --tertiary-color: #f3d25c;
    --fourth-color: #e87c5a;
    --fifth-color: #fffef3;
}

/* Color Classes */ 
.primary-color {
    color: var(--primary-color)
}

.secondary-color {
    color: var(--secondary-color);
}

.tertiary-color {
    color: var(--tertiary-color);
}

.fourth-color {
    color: var(--fourth-color);
}

.fifth-color {
    color: var(--fifth-color);
}

body {
    background-color: var(--fifth-color);
    font-family: "Courier New", Courier, monospace;
}
/* Main Page Styles End */

/* Header Styles Start */

header {
    padding: 20px 35px;
    background-color: var(--fifth-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header a {
    text-decoration: none;
}

header h1 a {
    margin: 0;
    font-weight: normal;
    color: var(--primary-color);
}

header a:hover {
    font-weight: bolder;
}

header nav {
    margin: 0 auto;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-align: center;
    padding: 9px 0;
    margin: 0 auto;
}

header nav ul li {
    padding: 0 5px 9px 5px;
    border-bottom: solid 1px var(--primary-color);
    margin: 0 auto;
}

header nav ul li .tertiary-color, header nav ul li .fourth-color {
    padding-left: 30px;
}

/* Header Styles End */

/* All Section Styles Start */

.about, .work, .contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

h2 {
    padding: 5px 30px;
    white-space: nowrap;
}

/* All Section Styles End */

/* About Me Styles */

.about {    
}

div.text {
    padding: 5px 100px 10px 100px;
    border-left: solid 1px var(--primary-color);
}

.about img {
    max-width: 100%;
    height: auto;
    padding: 5px 15px;
}

/* Work Styles */

/* Contact Styles */

.contact a {
    text-decoration: none;
    color: black;
}

.contact a:hover {
    font-weight: bolder;
}

/* Media Queries Start */

/* Media Query for Smaller Desktop Screens and Smaller */

@media screen and (max-width: 980px) {

header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
}

header h1 {
    width: 100%;
    text-align: center;
}

header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
}

header nav ul li a {
    font-size: 15px;
}

.about {
    flex-wrap: wrap;
}